@model Starint.ViewModels.CategoryListViewModel
@{
    ViewData["Title"] = "Kategorie";
}
<partial name="_AdminMenu" />

<partial name="_IncludeDatatable" />


<div class="container">
    @*<div class="text-center">
            <a class="btn btn-primary" asp-controller="Admin" asp-action="AddCategory">Dodaj nową</a>
        </div>*@
    <table id="DataTableCategory" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Czynności</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model.Categories)
            {
                <tr>
                    <td>@cat.Id</td>
                    <td>@cat.Name</td>
                    <td>@cat.Description</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Dodaj</button>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editModal@(cat.Id)">Edycja</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal@(cat.Id)">Usuń</button>
                        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#DataTableCategory').DataTable();
    });
</script>


@foreach (var cat in Model.Categories)
{
    <div class="modal fade" id="editModal@(cat.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Edycja kategorii @cat.Name</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="UpdateCategory" method="post" role="form">

                    <div class="modal-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Id:</label>
                            <input asp-for="Category.Id" type="text" class="form-control" readonly value="@cat.Id">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Nazwa:</label>
                            <input asp-for="Category.Name" type="text" class="form-control" value="@cat.Name">
                            <span asp-validation-for="Category.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Opis:</label>
                            <input asp-for="Category.Description" type="text" class="form-control" value="@cat.Description" multiline>
                            <span asp-validation-for="Category.Description" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <input type="submit" class="btn btn-primary" value="Zapisz" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal@(cat.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Usunięcie kategorii @cat.Name</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="DeleteCategory" method="post" role="form">

                    <div class="modal-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <h4>Czy naprawdę czcesz usunąć kategorię @cat.Name?</h4>
                            <input asp-for="Category.Id" type="hidden" class="form-control" readonly value="@cat.Id" >
                            <input asp-for="Category.Name" type="hidden" class="form-control" value="@cat.Name" >
                            <input asp-for="Category.Description" type="hidden" class="form-control" value="@cat.Description" multiline >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                        <input type="submit" class="btn btn-danger" value="Tak" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Dodawanie nowej kategorii</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="AddCategory" method="post" role="form">

                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nazwa:</label>
                        <input asp-for="Category.Name" type="text" class="form-control">
                        <span asp-validation-for="Category.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Opis:</label>
                        <input asp-for="Category.Description" type="text" class="form-control" multiline>
                        <span asp-validation-for="Category.Description" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <input type="submit" class="btn btn-primary" value="Zapisz" />
                </div>
            </form>
        </div>
    </div>
</div>