@model Starint.ViewModels.OfferListViewModel
@{
    ViewData["Title"] = "Oferty";
}
<partial name="_AdminMenu" />
<partial name="_IncludeDatatable" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<div class="container">
    @*<div class="text-center">
            <a class="btn btn-primary" asp-controller="Admin" asp-action="AddCategory">Dodaj nową</a>
        </div>*@
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Dodaj</button>

    <table id="DataTableOffer" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Kategoria</th>
                <th>Cena</th>
                <th>Rozmiar</th>
                <th>Status</th>
                <th>Czynności</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var offer in Model.Offers)
            {
                <tr>
                    <td>@offer.Id</td>
                    <td>@offer.Name</td>
                    <td>@offer.Description</td>
                    <td>@offer.Category.Name</td>
                    <td> <ins>@offer.Price</ins> <del>@offer.OldPrice</del></td>
                    <td>@offer.Size</td>
                    <td>
                        @if (offer.Active)
                        {
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-ok"></span> Akt.
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Nieakt.
                            </button>
                        }

                    </td>

                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Dodaj</button>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editModal@(offer.Id)">Edycja</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal@(offer.Id)">Usuń</button>
                        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#DataTableOffer').DataTable();
    });

    //$('#editModal1').on('show.bs.modal', function (event) {
    //    var button = $(event.relatedTarget) // Button that triggered the modal
    //    var modal = $(this)
    //    modal.find('.modal-title').text('Edycja ')
    //    //modal.find('.modal-body input').val(recipient)
    //})
</script>


@*@foreach (var cat in Model.Categories)
{
    <div class="modal fade" id="editModal@(cat.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Edycja kategorii @cat.Name</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="UpdateCategory" method="post" role="form">

                    <div class="modal-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Id:</label>
                            <input asp-for="Category.Id" type="text" class="form-control" readonly value="@cat.Id">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Nazwa:</label>
                            <input asp-for="Category.Name" type="text" class="form-control" value="@cat.Name">
                            <span asp-validation-for="Category.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Opis:</label>
                            <input asp-for="Category.Description" type="text" class="form-control" value="@cat.Description" multiline>
                            <span asp-validation-for="Category.Description" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <input type="submit" class="btn btn-primary" value="Zapisz" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal@(cat.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Usunięcie kategorii @cat.Name</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="DeleteCategory" method="post" role="form">

                    <div class="modal-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <h4>Czy naprawdę czcesz usunąć kategorię @cat.Name?</h4>
                            <input asp-for="Category.Id" type="hidden" class="form-control" readonly value="@cat.Id">
                            <input asp-for="Category.Name" type="hidden" class="form-control" value="@cat.Name">
                            <input asp-for="Category.Description" type="hidden" class="form-control" value="@cat.Description" multiline>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                        <input type="submit" class="btn btn-danger" value="Tak" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}*@
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Dodawanie nowej kategorii</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="AddOffer" method="post" role="form">

                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nazwa:</label>
                        <input asp-for="Offer.Name" type="text" class="form-control">
                        <span asp-validation-for="Offer.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Opis:</label>
                        <input asp-for="Offer.Description" type="text" class="form-control">
                        <span asp-validation-for="Offer.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Cena:</label>
                        <input asp-for="Offer.Price" type="number" step="0.01" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Stara cena:</label>
                        <input asp-for="Offer.OldPrice" type="number" step="0.01" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Typ:</label>
                        <select class="form-control" asp-for="Offer.Type" asp-items="Model.TypesSelectList"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Minimalny dystans:</label>
                        <input asp-for="Offer.WatchDistance" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Rozmiar modułu:</label>
                        <input asp-for="Offer.ModuleSize" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Rozmiar ekranu:</label>
                        <input asp-for="Offer.Size" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Rozmiar:</label>
                        <input asp-for="Offer.Size" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Pitch:</label>
                        <select class="form-control" asp-for="Offer.Pitch" asp-items="Model.PitchesSelectList"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Komunikacja:</label>
                        <select class="selectpicker" asp-for="Offer.Communications" asp-items="Model.CommunicationsSelectList" multiple></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Dostawa:</label>
                        <select class="selectpicker" asp-for="Offer.Deliveries" asp-items="Model.DeliveriesSelectList" multiple></select>
                    </div>
                    @*<div class="form-group col-md-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="text" class="form-control" id="price0" placeholder="Price (optional)">
            </div>
        </div>*@

                    @*<div class="form-group">
            <label for="message-text" class="col-form-label">Opis:</label>
            <input asp-for="Category.Description" type="text" class="form-control" multiline>
            <span asp-validation-for="Category.Description" class="text-danger"></span>
        </div>*@

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <input type="submit" class="btn btn-primary" value="Zapisz" />
                </div>
            </form>
        </div>
    </div>
</div>